.bottom {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    gap: 10px;
    & > div {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        font-size: 1.5rem;
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.274);
        & > div:first-child {
            color: #adadad;
        }
    }
}

#UV {
    border-radius: 100%;
    padding: 5px 12px;
    font-size: 1.55rem;
}

.wind-wrapper {
    display: flex;
    gap: 5px;
}

@media only screen and (max-width: 650px) {
    .bottom {
        grid-template-columns: repeat(2, 175px);
        grid-template-rows: repeat(3, 175px);
    }
}

@media only screen and (max-width: 400px) {
    .bottom {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(3, 150px);
        gap: 2.5px;
        & > div {
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .bottom {
        grid-area: 3 / 2 / 4 / 3;
    }
}