.bottom {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 200px 200px / 200px 200px;
    justify-content: center;
    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-direction: column;
        font-weight: bold;
        font-size: 1.5rem;
        border: 3px solid white;
        border-radius: 20px;
        margin: 10px;
        box-shadow: 2px 2px 5px #444444;
        & > div:first-child {
            color: #adadad;
        }
    }
}

#UV {
    border-radius: 100%;
    padding: 5px 12px;
    font-size: 1.55rem;
}

.wind-wrapper {
    display: flex;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .bottom {
        grid-template: 175px 175px / 175px 175px;
        & > div {
            gap: 20px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .bottom {
        grid-template: 150px 150px / 150px 150px;
        & > div {
            margin: 5px;
            gap: 10px;
            font-size: 1.2rem;
        }
    }
}