.forecast-wrapper {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-content: center;
    & > div {
        max-width: 500px;
        flex: 1 auto;
    }
    & > div > div {
        border-bottom: 1px solid white;
        padding: 20px;
        // margin: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        & > div:first-child {
            font-weight: bold;
        }
        & > div:nth-child(3) {
            display: flex;
            gap: 2px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .forecast-wrapper {
        grid-area: 4 / 2 / 5 / 3;
    }
}