form {
    border: 3px solid white;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    padding: 5px 10px;
    width: clamp(150px, 100%, 500px);
    & > input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        font-size: 1.2rem;
    }
    & > button {
        background: none;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
}

#search-error {
    width: 100%;
    color: white;
    font-size: 90%;
    font-weight: bold;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

#active {
    padding: 0.3em;
}