.top {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    grid-area: 1 / 2 / 2 / 3;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
}

.top-title-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 48px;
}

.title-sub-text {
    font-size: 16px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}

.search {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    padding: 5px 10px;
    width: clamp(150px, 100%, 500px);
    & > input {
        background: none;
        border: none;
        outline: none;
        width: 100%;
        font-size: 1.2rem;
    }
    & > button {
        background: none;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
}

.location-wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 5px;
    font-size: 4rem;
}

.temp-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.temp {
    display: flex;
}

.city-wrapper,
.region-wrapper {
    margin-left: 20px;
    font-weight: bold;
}

.city-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.region-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem !important;
    grid-area: 2 / 2 / 3 / 3;
    // margin-left: 22px;
}

@media only screen and (max-width: 500px) {
    .location-wrapper {
        font-size: 2rem;
    }

    .region-wrapper {
        font-size: 1rem !important;
    }
}