.top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    grid-area: 1 / 2 / 2 / 3;
}

.location-wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 5px;
    font-size: 2.5rem;
}

.temp-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

#temp {
    display: flex;
}

.temp-wrapper,
.description-wrapper {
    margin-right: 10px
}

.city-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: bold;
}

.description-wrapper {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 1.5rem;
    font-style: italic;
    color: #adadad;;
}

.region-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.25rem !important;
}

@media only screen and (max-width: 1000px) {
    .top {
        grid-area: 2 / 2 / 3 / 3;
    }

    .city-wrapper {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 600px) {
    .location-wrapper {
        font-size: 2rem;
    }

    .region-wrapper, 
    .description-wrapper {
        font-size: 1rem !important;
    }
    
    .city-wrapper {
        font-size: 1.5rem;
    }
}